<main class="bg-white">
  <section class="py-1 text-center container">
    <div class="row py-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="text-white bg-dark"</h1>
       </div>
     </div>
  </section>
  <%= form_with model: @category, url: category_path(@category), method: :patch, local: true do |f| %>
  <div class="d-flex gap-2 w-00 justify-content-between">
    <div>
      <h6 class="mb-5"><%= f.text_field :name, value: @category.name %></h6>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</main>
